.button {
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 206px;
    height: 50px;

    font-size: 17px;

    position: relative;
    border: none;

    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    color: white;
    background-color: #FF7236;
}

.button:active {
    transform: translateY(5px);

}

.button__text {
    position: absolute;
    bottom: 30%;
    left: 13%;
}

.button__item {
    position: absolute;
    right: 3%;
}

.button-alternative {
    margin-left: 85px;
    color: #ffffff;
    background-color: #FF7236;
}

.button-alternative__none-margin {
    margin-left: 0px;
    margin-bottom: 15px;
}

.button-alternative__replace {
    display: flex;
    justify-content: center;
}

.button-alternative:hover {
    background-color: #FAC663;
}

@media only screen and (max-width: 480px) {
    .button_place {
        display: flex;
        justify-content: center;
    }

    .button {
        margin-left: 12px;
        margin-bottom: 20px;
    }
}

.button__replace {
    margin-left: 0;
    margin-top: 25px;
}